@import url('');

*{
	margin: 0;
	padding: 0;
	
}

html{
    scroll-behavior: smooth;
}

body{
	height: 50vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
}

:root{
    /*      Theme colors        */
    --white: #ffffff; /* color de de texto pie de pagina */
}

/* ------ Header inicio */
.hero{
    background-image: linear-gradient(120deg, rgba(31, 79, 171, 0.83) 0%, rgba(245, 229, 71, 0.83) 100%), url(../img/header.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 50px;
}

.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #047f2d;
    border-radius: 8px;
    color: #fff;
}

.container{
    max-width: 1280px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
}

.wave-container{
    max-width: 1280px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 0 0 10px 0;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}

.form1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    text-align: center;

}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 8px 0;
    color: #fff;
    background: #087f24;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: #fff;
    background: #000;
}

/* ------ Header fin ------ */

/* ------ Inicio Table Form ------ */


table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

img{
    height: 100px;
    width: 50%;
}


tbody th:nth-child(1) {
  width: 15%;
  text-align: center;
  background-color: rgb(169, 165, 163,0.6);
  border-radius: 35px 35px 0px 0px;
}

tbody th:nth-child(2) {
  width: 15%;
  text-align: center;
  background-color: rgb(169, 165, 163,0.6);
  border-radius: 35px 35px 0px 0px;
}

tbody th:nth-child(3) {
  width: 15%;
  text-align: center;
  background-color: rgb(169, 165, 163,0.6);
  border-radius: 35px 35px 0px 0px;
}

tbody th:nth-child(4) {
  width: 15%;
  text-align: center;
  background-color: rgb(169, 165, 163,0.6);
  border-radius: 35px 35px 0px 0px;
}
tbody th:nth-child(5) {
  width: 15%;
  text-align: center;
  background-color: rgb(169, 165, 163,0.6);
  border-radius: 35px 35px 0px 0px;
}

tbody tr .table1{
    width: 800px;
    background-color: rgb(0, 0, 0,0.6);
    margin: auto;
    color: #ffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}


tbody td{
    padding: 10px;
    text-align: center;
    vertical-align: text-top;
    border-style: hidden;
    height: 50px;
}
/* ------ Fin Table Form ------ */

/* ------ Footer ------ */

footer.footer{
    height: 70%;
    position: relative;
}

footer.footer .container{
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(0, 0, 0,0.6);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 5;
    padding: 3rem .6rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .container p{
    color: var(--white);
    text-align: justify;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .8rem;
}

footer.footer .conver{
	flex-grow: 1;
    flex-basis: 5;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: #0E0904;
}

footer.footer .move-up span:hover{
    color: #156528;
    cursor: pointer;
}


input[type="button"]{
    width: 120px;
    text-align: center;
    padding: 8px 0;
    color: #fff;
    background: #087f24;
}

input[type="button"]:hover{
    cursor: pointer;
    color: #fff;
    background: #000;
}

/* ---------x------- Footer ----------x---------- */

@media 
only screen and (max-width: 600px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .container{
        max-width: 100%;
    }

    .textos-hero h1{
        font-size: 25px;
    }


    form .user-details .input.box{
    margin-bottom: 15px;
    width: 100%;
    }

    form .gender-details .category{
    width: 100%;
    }

    form h2{
    width: 350px;
    background-color: rgb(0, 0, 0,0.6);
    margin: auto;
    color: #ffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    }

    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 10;
    }

     table, thead, tbody, th, td, tr { 
        display: block; 
    }

    img{
    height: 60px;
    width: 15%;
    }

    tbody tr .table1{
    width: 500px;
    background-color: rgb(0, 0, 0,0.6);
    margin: auto;
    color: #ffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    }

    tbody th:nth-child(1){
        width: 45%;
        border-radius: 20px 20px 0px 0px;
    }

    tbody th:nth-child(2){
        width: 45%;
        border-radius: 20px 20px 0px 0px;
    }

    tbody th:nth-child(3){
        width: 45%;
        border-radius: 20px 20px 0px 0px;
    }

    tbody th:nth-child(4){
        width: 45%;
        border-radius: 20px 20px 0px 0px;
    }

    tbody th:nth-child(5){
        width: 45%;
        border-radius: 20px 20px 0px 0px;
    }


    tbody td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    tbody td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 50%; 
    padding-right: 10px; 
    white-space: nowrap;
    }

    footer.footer .container{
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(0, 0, 0,0.6);
    }



}



